* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --secondary-color: #212832;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font: inherit;
}

/* ==================== Common ==================== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 6px;
    background: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    transition:
        background 0.2s ease,
        color 0.2s ease;
}
/* ==================== Header ==================== */
.header {
    padding: 42px 0;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 48px;
    margin-left: 70.32px;
}

.header__item a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.header__item a::after {
    content: "";
    width: 100%;
    height: 1px;
    border-radius: 0.5px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
}

.header__item a:hover {
    color: #212832;
    text-shadow:
        0 0 0.01px #212832,
        0 0 0.01px #212832;
}

.header__item a:hover::after {
    opacity: 1;
    visibility: visible;
}

.header__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__actions a {
    text-decoration: none;
}

.header__login {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.header__login:hover {
    text-decoration: underline;
}

.header__signup {
    margin-left: 28px;
}

.header__signup:hover {
    background: var(--primary-color);
    color: #fff;
}

.header__signup:active {
    transform: scale(0.98);
}

/* ==================== Hero ==================== */
.hero {
    margin-top: 76px;
}

.hero__body {
    display: flex;
    align-items: center;
    gap: 68px;
}

.hero__content {
    max-width: 540px;
    width: 100%;
}

.hero__eyebrow {
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.hero__eyebrow::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
    vertical-align: middle;
}

.hero__title {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
}

.hero__title span {
    color: var(--primary-color);
}

.hero__desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero__newsletter {
    margin-top: 40px;
    position: relative;
}

.hero__newsletter-input {
    width: 100%;
    max-width: 540px;
    height: 74px;
    border-radius: 8px;
    border: 1px solid rgba(114, 100, 214, 0.2); /* nhạt hơn primary */
    color: #696d76;
    background: #fff;
    font-size: 1.6rem;
    padding: 0 180px 0 23px;
    transition:
        box-shadow 0.25s ease,
        border-color 0.25s ease;
}

.hero__newsletter-input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 2.5px rgba(114, 100, 214, 0.3);
}

.hero__newsletter-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 30px;
    border: none;
    transition: background 0.2s;
}

.hero__newsletter:focus-within .hero__newsletter-btn,
.hero__newsletter-btn:is(:hover, :focus-visible) {
    background: var(--primary-color);
    color: #fff;
}

.hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

.hero__media {
    max-width: 570px;
    width: 100%;
    position: relative;
}

.hero__media-img {
    margin: 0 174px 0 100px;
}

.hero__media-decor-01 {
    position: absolute;
    left: 0;
    top: 113px;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.hero__media-decor-01 p {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__media-decor-01 span {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero__media-decor-02 {
    position: absolute;
    right: 0;
    top: 127px;
}

.hero__media-decor-03 {
    position: absolute;
    right: 100px;
    bottom: 61px;
}

/* ==================== Features ==================== */
.features__first,
.features__second,
.features__third {
    margin-top: 160px;
}

.features__first-body,
.features__second-body,
.features__third-body {
    display: flex;
    align-items: center;
    gap: 130px;
}

.features__first-media {
    max-width: 570px;
    width: 100%;
    height: 619px;
    position: relative;
}

.features__first-background {
    position: absolute;
    left: 0;
    bottom: 0;
}

.features__first-image {
    position: absolute;
    left: 7px;
    bottom: 1px;
}

.features__first-decor-01 {
    position: absolute;
    right: 162px;
    top: 76px;
}

.features__first-decor-02 {
    position: absolute;
    right: 0;
    bottom: 96px;
    width: 226px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    gap: 10px;
}

.features__first-success span {
    color: var(--secondary-color);
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.features__first-success p {
    margin-top: 5px;
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.features__first-content,
.features__second-content,
.features__third-content {
    max-width: 470px;
    width: 100%;
}

.features__first-eyebrow,
.features__second-eyebrow,
.features__third-eyebrow {
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.features__first-eyebrow::before,
.features__second-eyebrow::before,
.features__third-eyebrow::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
    vertical-align: middle;
}

.features__first-title,
.features__second-title,
.features__third-title {
    margin-top: 12px;
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

.features__first-list {
    margin-top: 70px;
}

.features__first-subtitle {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}

.features__first-list > li:nth-child(2) .features__first-subtitle,
.features__first-list > li:nth-child(3) .features__first-subtitle {
    margin-top: 30px;
}

.features__first-desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.features__second-desc,
.features__third-desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.features__second-list,
.features__third-list {
    margin-top: 28px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 18px;
}

.features__second-list li,
.features__third-list li {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.features__second-list li::before,
.features__third-list li::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #7264d6;
    border-radius: 999px;
    margin-right: 12px;
    vertical-align: middle;
}

.features__second-btn,
.features__third-btn {
    margin-top: 38px;
    padding: 15px 30px;
    transition:
        background 0.2s ease,
        color 0.2s ease;
}

.features__second-btn:hover,
.features__third-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.features__second-btn:active,
.features__third-btn:active {
    transform: scale(0.98);
}

.features__second-media {
    max-width: 570px;
    width: 100%;
    height: 425px;
    position: relative;
}

.features__second-image {
    position: absolute;
    left: 0;
    bottom: 55px;
}

.features__second-decor-01 {
    position: absolute;
    right: 0;
    top: 0;
    width: 289px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
}

.features__second-decor-left span {
    display: inline-block;
    color: var(--secondary-color);
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.features__second-decor-left {
    white-space: nowrap;
}

.features__second-decor-left p {
    margin-top: 4px;
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.features__second-decor-right {
    margin-left: 67px;
    white-space: nowrap;
}

.features__second-decor-right span {
    display: inline-block;
    color: var(--secondary-color);
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.features__second-decor-right p {
    margin-top: 3px;
    text-align: right;
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.features__second-decor-02 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
    padding: 15px;
}

.features__second-decor-02 img {
    display: block;
}

.features__second-decor-income span {
    margin-top: 14px;
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.features__second-decor-income p {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.features__third-media {
    max-width: 570px;
    width: 100%;
    height: 600px;
    position: relative;
}

.features__third-bg {
    position: absolute;
    left: 0;
    bottom: 0;
}

.features__third-image {
    position: absolute;
    left: 0;
    bottom: 0;
}

.features__third-payments {
    position: absolute;
    right: 26px;
    bottom: 57px;
    width: 281px;
    height: 220px;
    border-radius: 16px;
    background: #fff;
    padding: 28px;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.features__third-payments p {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.features__third-methods {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.features__third-currency {
    width: 90px;
    height: 90px;
    border-radius: 99px;
    background: #7264d6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 222px;
}

/* ==================== Clients ====================  */
.clients {
    margin-top: 160px;
}

.clients__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.clients__eyebrow {
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.clients__eyebrow::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
    vertical-align: middle;
}

.clients__title {
    margin-top: 12px;
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

.clients__desc {
    margin-top: 18px;
    max-width: 435px;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.clients__list {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.clients__item {
    width: 570px;
    height: 542px;
}

.clients__bubble {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    transition:
        border-color 0.2s ease,
        filter 0.2s ease;
}

.clients__bubble::before,
.clients__bubble::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    pointer-events: none;
}

.clients__bubble::before {
    bottom: -51px;
    border-width: 51px 46px 0 46px;
    border-color: #dfe2e8 transparent transparent transparent;
    z-index: 0;
    transition: border-color 0.2s ease;
}

.clients__bubble::after {
    bottom: -49px;
    border-width: 49px 45px 0 45px;
    border-color: #fff transparent transparent transparent;
    z-index: 1;
}

.clients__bubble:hover {
    filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
    border-color: #fff;
}

.clients__bubble:hover::before {
    border-color: #fff transparent transparent transparent;
}

.clients__quote {
    position: relative;
    z-index: 2;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.545; /* 154.545% */
}

.clients__avatar-frame {
    width: 104px;
    height: 104px;
    margin: 72px auto 20px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.clients__avatar-frame--left {
    background: #4ab5e3;
}

.clients__avatar-frame--right {
    background: #439f90;
}

.clients__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    display: block;
}

.clients__name,
.clients__position {
    text-align: center;
}

.clients__name {
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.clients__position {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667; /* 166.667% */
}

.clients__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    gap: 12px;
}

.clients__pagination-dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
    background: transparent;
    transition:
        background 0.2s ease,
        border-color 0.2s ease;
    display: inline-block;
}

.clients__pagination-dot--active {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

/* ==================== Footer ==================== */
